[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/gytechs/meta-openembedded.git
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/gytechs/meta-clang.git
[submodule "meta-riscv"]
	path = meta-riscv
	url = https://github.com/gytechs/meta-riscv.git
[submodule "meta-sifive"]
	path = meta-sifive
	url = https://github.com/gytechs/meta-sifive.git
[submodule "freedom-u-sdk"]
	path = freedom-u-sdk
	url = https://github.com/gytechs/freedom-u-sdk.git
